body {
    background-image: url("background.png");
    background-size: cover;        /* растянуть на весь экран */
    background-position: center;   /* центрировать */
    background-repeat: no-repeat;  /* не повторять */
    background-attachment: fixed;  /* зафиксировать фон */

    color: #eaeaea;
    font-family: Arial, sans-serif;
}
/* Свойства шрифта (пункт 4 задания) */

/* размер шрифта */
p {
    font-size: 16px;
}

/* начертание шрифта (italic) */
#services {
    font-style: italic;
}

/* оформление текста */
ol li {
    list-style-type: circle;
    font-size: 15px;
    text-decoration: bold;
}

/* Селектор по элементу */
/* 3. Изменение цвета и фона элементов */
body {
    background-color: #111;
    color: #eaeaea;
    font-family: Arial, sans-serif;
}

/* Селектор по элементу */
h1 {
    color: #7af3fe;
    text-align: center;
}

/* Селектор по классу */
.section-text {
    font-size: 18px;
    line-height: 1.5;
}

/* Селектор по идентификатору */
#games {
    color: #66ff66;
}

/* Комбинированный селектор */
ul li {
    color: #cccccc;
}

/* 5. Оформление списков стилями */
/* Оформление нумерованного списка */
ol {
    list-style-type: upper-roman;
    font-weight: bold;
}

/* 5. Оформление списков стилями */
/* Оформление маркированного списка */
ul {
    list-style-type: square;
    padding-left: 25px;
}

/* Ссылки */
a {
    color: #24c1f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
